body {
  margin: 0;
  font-family: 'Roboto',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.layout {
<<<<<<< HEAD
  width: 100%;
  height: 100%;
  
  
  box-sizing: border-box;
=======
  width: 90%;
  margin: 0 auto;
>>>>>>> 01a6c4c7161be328651f72ec75cfdf47dd6f9282
}

.header {
  display:flex;
<<<<<<< HEAD
  height: 20%;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid black;
  background: #f5f5f5;
=======
  height: 132px;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid black;
>>>>>>> 01a6c4c7161be328651f72ec75cfdf47dd6f9282
}

.header .logo {
  flex-grow: 2;
  display: flex;
}

.header .logo span {
  font-size: 90px;
  display: block;
  font-weight: bolder;
  margin-top: -8px;
  color: #d0550d;
<<<<<<< HEAD
  padding-left: 30px;
=======
 
>>>>>>> 01a6c4c7161be328651f72ec75cfdf47dd6f9282
}

.header h3 {
  display: block;
  flex-basis: 40px;
  margin-left: 10px;
  font-weight: 400;
  text-transform: uppercase;
  
}

.header nav {
  flex-grow: 1;
}

.header nav ul {
  height: 132px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.header li {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 700;
  margin: 0 20px;
}

.header a {
  text-decoration: none;
  color: #000;
  transition: all 300ms;
}

.header a:hover,
.header .active {
  color: #d0550d;
}


.container {
<<<<<<< HEAD
  min-height: 70%;
=======
  min-height: 500px;
>>>>>>> 01a6c4c7161be328651f72ec75cfdf47dd6f9282
}


.footer {
  font-size: 14px;
  border-top: 3px solid black;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
<<<<<<< HEAD
  height: 10%;
=======
  min-height: 70px;
>>>>>>> 01a6c4c7161be328651f72ec75cfdf47dd6f9282
  font-style: italic;
  font-weight: 400;
}